In [8]:
import pandas as pd
marvel = pd.read_csv("marvel-wikia-data.csv")
dc = pd.read_csv("dc-wikia-data.csv") 
df = pd.concat([marvel, dc], ignore_index=True)
df.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year,YEAR
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0,NaN
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0,NaN
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0,NaN
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0,NaN
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23272 entries, 0 to 23271
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   page_id           23272 non-null  int64
 1   name              23272 non-null  object
 2   urlslug           23272 non-null  object
 3   ID                17489 non-null  object
 4   ALIGN             19859 non-null  object
 5   EYE               9877 non-null   object
 6   HAIR              16734 non-null  object
 7   SEX               22293 non-null  object
 8   GSM               154 non-null    object
 9   ALIVE             23266 non-null  object
 10  APPEARANCES       21821 non-null  float64
 11  FIRST APPEARANCE  22388 non-null  object
 12  Year              15561 non-null  float64
 13  YEAR              6827 non-null   float64
dtypes: float64(3), int64(1), object(10)
memory usage: 2.5+ MB

In [10]:
df.shape

(23272, 14)

In [11]:
df.value_counts()

Series([], Name: count, dtype: int64)

In [12]:
df.describe()

             page_id   APPEARANCES          Year         YEAR
count   23272.000000  21821.000000  15561.000000  6827.000000
mean   254956.821932     19.009303   1984.951803  1989.766662
std    231417.093079     93.814040     19.663571    16.824194
min      1025.000000      1.000000   1939.000000  1935.000000
25%     31385.750000      1.000000   1974.000000  1983.000000
50%    192263.500000      4.000000   1990.000000  1992.000000
75%    456337.750000     10.000000   2000.000000  2003.000000
max    755278.000000   4043.000000   2013.000000  2013.000000

In [13]:
df.value_counts()

Series([], Name: count, dtype: int64)

In [14]:
df.describe()

             page_id   APPEARANCES          Year         YEAR
count   23272.000000  21821.000000  15561.000000  6827.000000
mean   254956.821932     19.009303   1984.951803  1989.766662
std    231417.093079     93.814040     19.663571    16.824194
min      1025.000000      1.000000   1939.000000  1935.000000
25%     31385.750000      1.000000   1974.000000  1983.000000
50%    192263.500000      4.000000   1990.000000  1992.000000
75%    456337.750000     10.000000   2000.000000  2003.000000
max    755278.000000   4043.000000   2013.000000  2013.000000

In [16]:
df[df["APPEARANCES"] > 8]

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year,YEAR
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0,NaN
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0,NaN
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0,NaN
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0,NaN
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18972,255199,"Atlas, Titans of Myth (New Earth)","\/wiki\/Atlas,_Titans_of_Myth_(New_Earth)",Public Identity,NaN,NaN,NaN,Male Characters,NaN,Living Characters,9.0,"1944, May",NaN,1944.0
18973,11860,William Gunn (New Earth),\/wiki\/William_Gunn_(New_Earth),NaN,Good Characters,NaN,White Hair,Male Characters,NaN,Deceased Characters,9.0,"1941, December",NaN,1941.0
18974,227456,C.C. Haly (New Earth),\/wiki\/C.C._Haly_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Deceased Characters,9.0,"1940, April",NaN,1940.0
18975,69587,Kulak (New Earth),\/wiki\/Kulak_(New_Earth),Public Identity,Bad Characters,Blue Eyes,NaN,Male Characters,NaN,Living Characters,9.0,"1940, September",NaN,1940.0
18976,237763,Louis Snipe (New Earth),\/wiki\/Louis_Snipe_(New_Earth),Public Identity,Bad Characters,Blue Eyes,NaN,Male Characters,NaN,Deceased Characters,9.0,"1940, February",NaN,1940.0

In [17]:
df[df["SEX"] == "Female Characters"]

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year,YEAR
11,1863,Susan Storm (Earth-616),\/Susan_Storm_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Female Characters,NaN,Living Characters,1713.0,Nov-61,1961.0,NaN
13,2614,Ororo Munroe (Earth-616),\/Ororo_Munroe_(Earth-616),Public Identity,Good Characters,Blue Eyes,White Hair,Female Characters,NaN,Living Characters,1512.0,May-75,1975.0,NaN
17,1978,Mary Jane Watson (Earth-616),\/Mary_Jane_Watson_(Earth-616),No Dual Identity,Good Characters,Green Eyes,Red Hair,Female Characters,NaN,Living Characters,1304.0,Jun-65,1965.0,NaN
24,2512,Wanda Maximoff (Earth-616),\/Wanda_Maximoff_(Earth-616),Public Identity,Good Characters,Green Eyes,Brown Hair,Female Characters,NaN,Living Characters,1161.0,Mar-64,1964.0,NaN
26,1976,Janet van Dyne (Earth-616),\/Janet_van_Dyne_(Earth-616),Public Identity,Good Characters,Blue Eyes,Auburn Hair,Female Characters,NaN,Living Characters,1120.0,Jun-63,1963.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23254,34617,Dorothea Tane (New Earth),\/wiki\/Dorothea_Tane_(New_Earth),NaN,NaN,NaN,Blond Hair,Female Characters,NaN,Living Characters,NaN,"1948, August",NaN,1948.0
23257,1624,Doris Zuel (New Earth),\/wiki\/Doris_Zuel_(New_Earth),Secret Identity,Bad Characters,Green Eyes,Red Hair,Female Characters,NaN,Living Characters,NaN,"1944, June",NaN,1944.0
23258,22701,Doris Lee (New Earth),\/wiki\/Doris_Lee_(New_Earth),Public Identity,NaN,Brown Eyes,Brown Hair,Female Characters,NaN,Deceased Characters,NaN,"1941, April",NaN,1941.0
23261,1460,Catwoman (Selina Kyle),\/wiki\/Catwoman_(Selina_Kyle),Secret Identity,Neutral Characters,Green Eyes,Black Hair,Female Characters,NaN,Living Characters,NaN,"1940, June",NaN,1940.0
23267,66302,Nadine West (New Earth),\/wiki\/Nadine_West_(New_Earth),Public Identity,Good Characters,NaN,NaN,Female Characters,NaN,Living Characters,NaN,NaN,NaN,NaN

In [18]:
df.iloc[0:10 , 0:5]

,page_id,name,urlslug,ID,ALIGN
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters
5,2458,Benjamin Grimm (Earth-616),\/Benjamin_Grimm_(Earth-616),Public Identity,Good Characters
6,2166,Reed Richards (Earth-616),\/Reed_Richards_(Earth-616),Public Identity,Good Characters
7,1833,Hulk (Robert Bruce Banner),\/Hulk_(Robert_Bruce_Banner),Public Identity,Good Characters
8,29481,Scott Summers (Earth-616),\/Scott_Summers_(Earth-616),Public Identity,Neutral Characters
9,1837,Jonathan Storm (Earth-616),\/Jonathan_Storm_(Earth-616),Public Identity,Good Characters

In [19]:
df.sort_values("APPEARANCES", ascending=False)

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year,YEAR
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0,NaN
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0,NaN
16376,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",NaN,1939.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0,NaN
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23267,66302,Nadine West (New Earth),\/wiki\/Nadine_West_(New_Earth),Public Identity,Good Characters,NaN,NaN,Female Characters,NaN,Living Characters,NaN,NaN,NaN,NaN
23268,283475,Warren Harding (New Earth),\/wiki\/Warren_Harding_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN,NaN
23269,283478,William Harrison (New Earth),\/wiki\/William_Harrison_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN,NaN
23270,283471,William McKinley (New Earth),\/wiki\/William_McKinley_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN,NaN
23271,150660,Mookie (New Earth),\/wiki\/Mookie_(New_Earth),Public Identity,Bad Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN,NaN

In [20]:
df.sort_values(["ALIGN", "APPEARANCES"], ascending=(True, False))

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year,YEAR
43,1448,Victor von Doom (Earth-616),\/Victor_von_Doom_(Earth-616),Public Identity,Bad Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,721.0,Jul-62,1962.0,NaN
47,1740,Norman Osborn (Earth-616),\/Norman_Osborn_(Earth-616),Public Identity,Bad Characters,Blue Eyes,Auburn Hair,Male Characters,NaN,Living Characters,692.0,Jul-64,1964.0,NaN
16395,1480,Alexander Luthor (New Earth),\/wiki\/Alexander_Luthor_(New_Earth),Public Identity,Bad Characters,Green Eyes,NaN,Male Characters,NaN,Living Characters,677.0,"1986, October",NaN,1986.0
16406,1455,Joker (New Earth),\/wiki\/Joker_(New_Earth),Secret Identity,Bad Characters,Green Eyes,Green Hair,Male Characters,NaN,Living Characters,517.0,"1940, June",NaN,1940.0
69,1931,Wilson Fisk (Earth-616),\/Wilson_Fisk_(Earth-616),Public Identity,Bad Characters,Blue Eyes,Bald,Male Characters,NaN,Living Characters,503.0,Jul-67,1967.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23240,18688,T'Charr (New Earth),\/wiki\/T%27Charr_(New_Earth),Secret Identity,NaN,NaN,NaN,Male Characters,NaN,Deceased Characters,NaN,"1968, June",NaN,1968.0
23251,22325,James Moon (New Earth),\/wiki\/James_Moon_(New_Earth),NaN,NaN,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1962, March",NaN,1962.0
23254,34617,Dorothea Tane (New Earth),\/wiki\/Dorothea_Tane_(New_Earth),NaN,NaN,NaN,Blond Hair,Female Characters,NaN,Living Characters,NaN,"1948, August",NaN,1948.0
23258,22701,Doris Lee (New Earth),\/wiki\/Doris_Lee_(New_Earth),Public Identity,NaN,Brown Eyes,Brown Hair,Female Characters,NaN,Deceased Characters,NaN,"1941, April",NaN,1941.0
23262,289378,Bedivere (New Earth),\/wiki\/Bedivere_(New_Earth),NaN,NaN,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1936, February",NaN,1936.0

In [21]:
df = df.rename(columns={"YEAR": "FIRST_YEAR"})

In [22]:
df = df.drop(columns=["ID"])

In [23]:
df.dtypes

page_id               int64
name                 object
urlslug              object
ALIGN                object
EYE                  object
HAIR                 object
SEX                  object
GSM                  object
ALIVE                object
APPEARANCES         float64
FIRST APPEARANCE     object
Year                float64
FIRST_YEAR          float64
dtype: object

In [26]:
df["Year"] = pd.to_numeric(df["Year"], errors="coerce")

In [27]:
df["ALIGN"] = df["ALIGN"].astype("category")

In [28]:
df.isna().sum()

page_id                 0
name                    0
urlslug                 0
ALIGN                3413
EYE                 13395
HAIR                 6538
SEX                   979
GSM                 23118
ALIVE                   6
APPEARANCES          1451
FIRST APPEARANCE      884
Year                 7711
FIRST_YEAR          16445
dtype: int64

In [29]:
df[df["FIRST APPEARANCE"].isna()]

,page_id,name,urlslug,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year,FIRST_YEAR
12,7823,Namor McKenzie (Earth-616),\/Namor_McKenzie_(Earth-616),Neutral Characters,Green Eyes,Black Hair,Male Characters,NaN,Living Characters,1528.0,NaN,NaN,NaN
38,1677,Rogue (Anna Marie) (Earth-616),\/Rogue_(Anna_Marie)_(Earth-616),Good Characters,Green Eyes,Auburn Hair,Female Characters,NaN,Living Characters,850.0,NaN,NaN,NaN
80,67048,Blaine Colt (Earth-616),\/Blaine_Colt_(Earth-616),NaN,Blue Eyes,Blond Hair,Male Characters,NaN,Deceased Characters,429.0,NaN,NaN,NaN
114,37751,Monica Rambeau (Earth-616),\/Monica_Rambeau_(Earth-616),Good Characters,Brown Eyes,Black Hair,Female Characters,NaN,Living Characters,327.0,NaN,NaN,NaN
259,25255,James Bradley (Earth-616),\/James_Bradley_(Earth-616),Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,158.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23267,66302,Nadine West (New Earth),\/wiki\/Nadine_West_(New_Earth),Good Characters,NaN,NaN,Female Characters,NaN,Living Characters,NaN,NaN,NaN,NaN
23268,283475,Warren Harding (New Earth),\/wiki\/Warren_Harding_(New_Earth),Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN,NaN
23269,283478,William Harrison (New Earth),\/wiki\/William_Harrison_(New_Earth),Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN,NaN
23270,283471,William McKinley (New Earth),\/wiki\/William_McKinley_(New_Earth),Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN,NaN
23271,150660,Mookie (New Earth),\/wiki\/Mookie_(New_Earth),Bad Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN,NaN

In [30]:
df[df.duplicated()]

Empty DataFrame
Columns: [page_id, name, urlslug, ALIGN, EYE, HAIR, SEX, GSM, ALIVE, APPEARANCES, FIRST APPEARANCE, Year, FIRST_YEAR]
Index: []

In [31]:
df = df.drop_duplicates()

In [32]:
df["ALIGN"].unique()

['Good Characters', 'Neutral Characters', 'Bad Characters', NaN, 'Reformed Criminals']
Categories (4, object): ['Bad Characters', 'Good Characters', 'Neutral Characters', 'Reformed Criminals']

In [33]:
df["ALIGN"].str.lower().unique()

array(['good characters', 'neutral characters', 'bad characters', nan,
       'reformed criminals'], dtype=object)

In [34]:
df["ALIGN"] = df["ALIGN"].str.strip().str.title()

In [35]:
df.head()
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23272 entries, 0 to 23271
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   page_id           23272 non-null  int64
 1   name              23272 non-null  object
 2   urlslug           23272 non-null  object
 3   ALIGN             19859 non-null  object
 4   EYE               9877 non-null   object
 5   HAIR              16734 non-null  object
 6   SEX               22293 non-null  object
 7   GSM               154 non-null    object
 8   ALIVE             23266 non-null  object
 9   APPEARANCES       21821 non-null  float64
 10  FIRST APPEARANCE  22388 non-null  object
 11  Year              15561 non-null  float64
 12  FIRST_YEAR        6827 non-null   float64
dtypes: float64(3), int64(1), object(9)
memory usage: 2.3+ MB

page_id                 0
name                    0
urlslug                 0
ALIGN                3413
EYE                 13395
HAIR                 6538
SEX                   979
GSM                 23118
ALIVE                   6
APPEARANCES          1451
FIRST APPEARANCE      884
Year                 7711
FIRST_YEAR          16445
dtype: int64